body {
    background: black;
    margin: 4em;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Courier New, Courier, monospaced;
}

body, a {
    color: #0a0;
}

a {
    font-weight: bold;
}

#faq {
    color: #aaa;
}

.text, .answer, .answer a {
    color: #aaa;
}
